<div class='row'>
      <div class='col-sm-7'>
        <h2>{{model.title}}</h2>
        <h3 class='text-success'>${{model.price}}</h3>
        <p class='text-muted'>{{model.description}}</p>
        <p class='text-muted'>This Product has a {{model.rating}} star rating!</p>
        <p>Finely crafted by {{#link-to 'contact' model.crafter}}{{model.crafter.name}}{{/link-to}}.</p>
        {{render 'reviews' model.reviews}}
        <div class='new-rating'>
          <h3>Rate {{title}}</h3>
          
        </div>
        <div class='new-review'>
          <h3>Review {{title}}</h3>
          {{#if text}}
            <p class='text-muted'>{{text}}</p>
          {{/if}}
          {{textarea valueBinding='text'}}
          <button {{action 'createReview'}} class='btn-primary'>Review</button>
        </div>
      </div>
      <div class='col-sm-5'>
        <img {{bind-attr src='model.image'}} class='img-thumbnail img-rounded'/>
      </div>
    </div>
    {{contact-details contact=model.crafter className='row'}}